* {
    font-size: 17px;
    font-family: 'Source Code Pro', monospace;
    max-height: 100vh;
}
body {
    background-color: #292929;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents-box {
    width: 800px;
}
a {
    text-decoration: none;
    color: lightgreen;
}

// navbar
.navbar {
    display: flex;
    justify-content: center;
    a {
        font-size: 2rem;
        font-weight: bold;
        margin: 0 1rem;
    }
    .current {
        color: cyan;
    }
}

// home page
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    .profile-img {
        border-radius: 50%;
        border: 3px solid lightgreen;
        overflow: hidden;
        width: 150px;
        height: 150px;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.7rem;
        margin-top: 0;
    }
    .social {
        font-size: 1.3rem;
        text-decoration: none;
        color: lightgreen;
    }
}

// about page
.about-name {
    font-size: 2rem;
}

// blog page
.posts-container {
    display: flex;
    flex-direction: column;
    
    .post-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: gray 2px dotted;

        .post-title {
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
        }
        .post-date {
            display: inline-block;
            vertical-align: top;
        }
    }
}
